<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script type="module">
  const dataTable = new simpleDatatables.DataTable("#myTable", {
    searchable: true,
    fixedHeight: true,
  })
</script>
<% @timetables.each do |timetable| %>
  <div class="overflow-x-auto">
    <table id="myTable" class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Dep</th>
          <th>Arr</th>
        </tr>
      </thead>
      <tbody id="results">
      <% timetable.each do |row| %>
        <!-- row 1 -->
        <tr>
        <% row[0..3].each do |cell| %>
          <td><%= cell %></td>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
