<% @timetables.each do |timetable| %>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Job</th>
          <th>Favorite Color</th>
        </tr>
      </thead>
      <tbody>
      <%= timetable.each do |row| %>
        <!-- row 1 -->
        <tr>
        <%= row.each do |cell| %>
          <td><%= cell %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
