<!--Container-->
<article class="prose lg:prose-xl">
  <div>
    <!--Title-->
    <div>
      <h2>Why Maytró</h2>
      <p>Published 10 January 2023</p>
    </div>
    <!--Post Content-->
    <!--Lead Para-->
    <p>Well for one thing it was Christmas and I had time on my hands to do some hobby programming but
      probably the following (excellent) tweet I spotted some months earlier
      had it stuck in my mind for a while:
    </p>
    <blockquote class="twitter-tweet py-6">
      <p lang="en" dir="ltr">Something we&#39;re discussing locally is the creation of a frequent, reliable rail service for Mayo. Three shuttle trains, meeting in Manulla, could provide an hourly service linking six towns (1/3 of Mayo&#39;s population). Don&#39;t be fooled by the name - we&#39;re serious about this. <a href="https://twitter.com/hashtag/MART?src=hash&amp;ref_src=twsrc%5Etfw">#MART</a> <a href="https://t.co/d1d7LW7rZu">pic.twitter.com/d1d7LW7rZu</a></p>
      &mdash; 15-Minute Westport (@15minWestport) <a href="https://twitter.com/15minWestport/status/1377996729006616580?ref_src=twsrc%5Etfw">April 2, 2021</a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>The maightro will not be advertised!</p>
    <p>After all these years there was so little awareness that the service
      even existed and still obviously a demand for it.</p>
    <p>Speaking of which as I attended the Ballina-Westport county final a
      few months ago it was hard not to feel a sense of frustration. Hoards of
      people piling in from both ends of the track in their cars (including
      myself and my uncle), clogging up Castlebar as happens on every match
      day, spoiling it for residents, the station lying idle and adjacent to
      McHale park. The frustration of residents is on record but I also
      thought of all the lost business for Castlebar, how nice it would be to
      have a pint or two before or after the match (depending on if you win or
      lose!) and maybe a bite to eat, mingle with other fans, instead of the
      rush to the car and the stress of parking, and driving, trying to beat
      the traffic or the weather.</p>
    <p>Driving out of Castlebar with our tail between our legs we passed the
      building site of the bypass of the original bypass, a motorway between
      Castlebar and Westport. What can you say about that in 2023. I can’t say
      anything good about it so I’ll say nothing except that it motivated me
      to attempt to revive the Maightó.</p>
    <h3 id="the-maightró-today">The Maightró today</h3>
    <p>I will jokingly refer to the Maightro in phases aping the usual
      nominclature of large public transport projects</p>
    <p>“Phase 1” of the M, covering a grand total of 15 miles between
      Foxford and Ballina. There are 8 trains each way, the first one leaving
      Ballina at 5:05 and the last one arriving back in Ballina 21:32. The
      interval between each train in either direction is about 2 hours on
      average. This makes it a more frequent service than any available in
      Derry, Limerick, Galway or Waterford, numbers 4-7 of Ireland’s most
      populous cities. Maightó abú!</p>
    <h3 id="to-manulla-and-beyond">To Manulla and beyond!</h3>
    <p>It is possible today to get as far as Westport but the service is an
      afterthought to say the least. There are three usable connections each
      way, three in the evening from Ballina (none before 3pm) and a couple
      before lunch from Westport and one in the evening. The travel time is
      competitive but could be much better (50-55 mins), there is the penalty
      of a modal change (though the connection is guaranteed) and day returns
      are not really doable. It’s just about better than nothing but people do
      use it nevertheless.</p>
    <h4 id="phase-2---a-useful-service.">Phase 2 - A useful service.</h4>
    <p>Westport 05:15 07:15 09:45 13:10 18:20 Ballina 06:05 08:02 10:32
      14:00 19:09</p>
    <p>Ballina n/a 08:08 10:40 15:05 17:00 20:32 Westport n/a 08:56 11:28
      15:57 17:56 21:26</p>
    <p>Changes:</p>
    <ul>
      <li>1: An extra trip instead of sitting around doing nothing. Dep
        Manulla 7:35 arr Ballina 8:02, dep 8:05 arr Manulla 8:32.</li>
      <li>2:</li>
    </ul>
    <p>Was suggested in timetable consult, ignored no acknowledgemnt.</p>
    <p>Most intresting aspect was IE seems to have a new way to say no</p>
    <p>“No drivers - NTA”</p>
    <p>The same NTA that greenlighted “The Ring Road” yeehooo!</p>
    <p>Phase 3 - Landing on the surface of South Mayo</p>
    <p>Direct to Westport</p>
    <p>Phase 4 - The full Maightro</p>
    <p>Hello Claremorris and localbus!</p>
    <h3 id="simulating">Simulating</h3>
    <p>I’ve coded up a simulator here which you can try out. (show
      picture)</p>
    <h3 id="imaging-maytro">Imaging Maytro</h3>
    <ul>
      <li>matchday</li>
      <li>nights out</li>
      <li>cycling</li>
      <li>beaches and lakes</li>
      <li>the self confidence of a city</li>
    </ul>
    <h3 id="summing-up">Summing up</h3>
    <p>Maightro is a simple idea that could be massively progressive for
      Mayo. The four largest Mayo town linked together.</p>
    <ul>
      <li>Matches</li>
      <li>High freq West cast</li>
      <li>Beaches Lakes</li>
    </ul>
    <p>This is kind of the approach I take but with some shortcuts to avoid
      unnecessary cycles, i.e something approximating a greedy algorithmic
      approach:</p>
    <blockquote>
      <p>A greedy algorithm is an algorithmic paradigm that follows the
        problem-solving heuristic of making the locally optimal choice at each
        stage with the hope of finding a global optimum.</p>
    </blockquote>
    <p>My goal really is to demonstrate that using available resources,
      given a certain scenario, trains <em>could</em> be scheduled a lot
      better. As opposed to finding the optimum scheduling possible or indeed
      verifying that.</p>
    <p>Complimented by local buses, pedestrianized town centers and
      dedicated cycling infrastructure.</p>
    <p>IE have ready made excuses to turn this down but they’re all
      bullshit. This is better than ‘shovel-ready’ because no shovels are
      required. Just one extra shitty worn out railcar that dublin doesn’t
      need anymore painted in red and green.</p>
    <p>Why should we have to wait for the Dublin disaster and the 5 new
      mini-dublin-disasters of project 2040 to tortuously come round to public
      transport investment? Let’s be honest once the ECB induced recession
      fully kicks in, they all be cancelled anyways as the absolutely
      necessary higher interest rates to fight the evil scourge of full
      employment, I mean inflation, will make borrowing in the same infinite
      fiat currency that exists on the ECB’s computer that extends infinite
      lines of credit to the corporate welfare state, will make public
      investment ‘too expensive’.</p>
    <p>Is it because it would be embarrassing for good old ‘god help us’
      knuckle dragging Mayo to be more progressive than our urban
      superiors?</p>
    <p>Yes the ring road is being build, yes it is an embarrassment but at
      the end of the day the NTA approved it, so they ultimately, are the ones
      responsible for it.</p>
    <p>We can hit back by providing top quality PT between Wesport and
      Castlbar.</p>
    <p>Who know maybe one day they’ll turn the Ring Road into a
      greenway?</p>
    <p>The curious case of the Castlebar - Westport motorway</p>
    <p>Was a public transport option surveyed as is legally mandated?</p>
    <p>https://www.irishtimes.com/politics/2022/12/21/coalition-plans-to-clip-emissions-by-curbing-car-parking-and-cutting-mileage-by-20/</p>
    <p>updated climate action plan,</p>
    <p>Hyper centralization is ahistorical in the irish context, a legacy of
      colonialism. it is also anachronistic in terms of how information flows,
      society collaborates operate today which is more distributed, aping the
      information networks that carry the bulk of the load. It is victorian
      thinking in a technological age. It is also perhaps a legacy of post
      2008 europe where democrtic political agency has been curtailed in
      general, with the rise of hyper centralized technocratic
      adminstration.</p>
    <p>Psychological the impact is immense</p>
    <p>Imagine london berlin take out bad bits distributed, ecological,
      metropolitan area.</p>
    <p>University faculties, civil service, greenways lakes beach a
      completely different modern vision of what a city could be. The nervous
      system linking it together is the railway, as it it with all historical
      cities.</p>
    <p>The mini dublin strategies are unlikely to succeed. Same developer
      led profit led Blanding / Ikeaisation (Limerick / Waterford) examples.
      Think Quatar or Croydon town centre.</p>
    <p>Policy? Loads!</p>
    <ul>
      <li>NTC public transport</li>
      <li>Updated government environment action plan</li>
      <li>Spatial strategy</li>
      <li>Local bus connect plan</li>
      <li>Economy of Mayo</li>
    </ul>
    <p>Scenarios: - match day - beach day - lake day - the bike - night out
      - shopping</p>
    <p>why not? - administration dublin central colon technocratic - NTA /
      NRA - CIE / IE - political embarrassing to Dublin / the 5 mini dublins.
      - I’m going to SF/IRA the NTA from here on in and call it NT(R)A.</p>
  </div>
</div>
